.nav-bar {
  width: 100%;
  background-color: #364156;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start; /* Esto alinea los elementos a la derecha */
}

@media screen and (max-width: 600px) {
  ul {
    justify-content: center;
  }
}

.nav-item:hover {
  background-color: #011638;
  border-radius: 5px;
}

.nav-item {
  text-decoration: none;
  display: block;
  padding: 8px;
  max-width: 200px; /* Esto limita el ancho de los elementos de la lista */
  align-items: center;
  justify-self: center;
  color: #fff;
}
